.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-contractor
{
  width: 80px !important; 
  height: 80px !important;
  border-radius: 100px;
}
.inner-page header
{
  margin-bottom: none !important;
}
.review-img
{
  width: 70px !important;
  height: 70px !important;
}

.ph-trust .feature 
{
  height: 3.5rem !important;
  width: 3.5rem !important;
}